@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Bold.eot);
    src: url(../fonts/RobotoCondensed-Boldd41d.eot) format("embedded-opentype"), url(../fonts/RobotoCondensed-Bold.woff2) format("woff2"), url(fonts/RobotoCondensed-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
body {
    min-width: 480px;
    background: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4em;
    color: #121314;
    cursor: default;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.error {
    color: red;
    font-size: 1rem;
}

.error + * {
    margin-top: 10px !important;
}
