@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Bold.eot);
    src: url(../fonts/RobotoCondensed-Boldd41d.eot) format("embedded-opentype"), url(../fonts/RobotoCondensed-Bold.woff2) format("woff2"), url(fonts/RobotoCondensed-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}
a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: underline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:hover {
    cursor: pointer;
}
::-webkit-input-placeholder {
    color: #a9a9a9;
    opacity: 1;
}
:-moz-placeholder {
    color: #a9a9a9;
    opacity: 1;
}
::-moz-placeholder {
    color: #a9a9a9;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #a9a9a9;
    opacity: 1;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a,
button,
input {
    outline: 0;
}
button,
input,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.m1-form input,
body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
body {
    min-width: 480px;
    background: #739da2;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4em;
    color: #121314;
    cursor: default;
}
.main_wrapper {
    margin: 0 auto;
    width: 480px;
    background: #fff;
}
img {
    max-width: 100%;
    height: auto;
}
b {
    font-weight: 700;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
h2.title,
h2.title.ttl2 span {
    font-size: 35px;
    padding: 0 15px;
}
h2.title {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
h2.title span {
    display: block;
    color: #199bde;
}
.сolor_theme .title,
.сolor_theme .title span,
h2.title.ttl2 {
    color: #fff;
}
h2.title.ttl2 span {
    display: inline-block;
    color: #121314;
    background: #fc0;
}
section {
    padding: 45px 0;
}
.сolor_theme {
    background: #ed525c;
    background: -moz-linear-gradient(top, #ed525c 0, #e65336 100%);
    background: -webkit-linear-gradient(top, #ed525c 0, #e65336 100%);
    background: linear-gradient(to bottom, #ed525c 0, #e65336 100%);
}
.m1-form {
    padding: 30px 50px 0;
}
.m1-form input {
    width: 100%;
    display: block;
    border: 0;
    font-size: 16px;
    margin-bottom: 10px;
    height: 80px;
    border-radius: 40px;
    background: #fff;
    text-align: center;
    color: #222;
    -webkit-box-shadow: inset 0 2px 12px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 12px -2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 12px -2px rgba(0, 0, 0, 0.2);
}
.m1-form .button-m {
    margin-top: 0;
}
.m1-form ::-webkit-input-placeholder {
    color: #222;
}
.m1-form ::-moz-placeholder {
    color: #222;
}
.m1-form :-moz-placeholder {
    color: #222;
}
.m1-form :-ms-input-placeholder {
    color: #222;
}
.m1-form :focus::-webkit-input-placeholder {
    color: transparent;
}
.m1-form :focus::-moz-placeholder {
    color: transparent;
}
.m1-form :focus:-moz-placeholder {
    color: transparent;
}
.m1-form :focus:-ms-input-placeholder {
    color: transparent;
}
.button-m {
    border: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    height: 80px;
    width: 380px;
    display: block;
    border-radius: 40px;
    line-height: 78px;
    text-align: center;
    background: #ffb900;
    background: linear-gradient(to bottom, #ffcb00, #ff9d00);
    border-bottom: 4px solid #db8600;
    -webkit-box-shadow: 0 5px 16px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 16px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 16px -4px rgba(0, 0, 0, 0.3);
    font-size: 25px;
    letter-spacing: 1px;
    margin: 0 auto;
    color: #121314;
    position: relative;
    text-shadow: 0 1px 0 #ffd580;
}
.button-m:active {
    background: linear-gradient(to bottom, #ff9d00, #ffcb00);
    top: 2px;
}
.offer_section {
    padding: 0;
}
.main_subtitle,
.main_title {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.main_title {
    font-size: 35px;
    color: #fff;
    line-height: 55px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
    background: #199bde;
    background: -moz-linear-gradient(left, #199bde 0, #33dbc3 90%);
    background: -webkit-linear-gradient(left, #199bde 0, #33dbc3 90%);
    background: linear-gradient(to right, #199bde 0, #33dbc3 90%);
}
.main_subtitle {
    font-size: 25px;
    letter-spacing: 0.6px;
    line-height: 50px;
    background: #fc0;
    background: -moz-linear-gradient(left, #fc0 0, #ff9c00 90%);
    background: -webkit-linear-gradient(left, #fc0 0, #ff9c00 90%);
    background: linear-gradient(to right, #fc0 0, #ff9c00 90%);
}
.offer_section .box,
.price_block {
    position: relative;
}
.img_sect > img,
.offer_section .box > img,
img.bef_after {
    display: block;
    margin: 0 auto;
}
.offer_section .box > img.logo {
    position: absolute;
    left: 32px;
    top: 20px;
}
.price_block {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.price_block .new,
.price_block .old {
    width: 50%;
    height: 74px;
    float: left;
    text-align: center;
    font-size: 16px;
    line-height: 1.1em;
    padding-top: 10px;
    letter-spacing: 0.6px;
}
.price_block .new p,
.price_block .old p,
.sale,
.sale > span {
    font-size: 35px;
    line-height: 1.1em;
}
.price_block .new p small,
.price_block .old p small {
    font-size: 0.8em;
}
.price_block .old p span {
    text-decoration: line-through;
}
.price_block .old {
    background: #3a3b3c;
    padding-right: 50px;
    color: #dadbdc;
}
.price_block .new {
    background: #8fc901;
    padding-left: 50px;
    color: #fff;
}
.sale {
    width: 119px;
    height: 118px;
    background: url(../images/sale.webp) 50% 50% no-repeat;
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -60px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #ffd380;
    padding-top: 10px;
}
.sale > span {
    display: block;
    font-size: 40px;
}
.ofr_bull {
    background: #f2feff;
    padding: 32px 35px 25px;
}
.ofr_bull > li {
    padding-left: 40px;
    background: url(../images/ofr_bull.webp) 0 50% no-repeat;
    margin-bottom: 20px;
    line-height: 1.3em;
}
.benef3 > li:last-child,
.list1 > li:last-child,
.list2 > li:last-child,
.ofr_bull > li:last-child {
    margin-bottom: 0;
}
.action_block {
    padding: 25px 0 35px;
    background: #33dcc3;
    background: -moz-linear-gradient(top, #33dcc3 0, #1a9cde 100%);
    background: -webkit-linear-gradient(top, #33dcc3 0, #1a9cde 100%);
    background: linear-gradient(to bottom, #33dcc3 0, #1a9cde 100%);
}
.prod_count > span,
.timer {
    text-align: center;
    color: #fff;
}
.timer {
    text-transform: uppercase;
    padding: 0 50px;
    margin-bottom: 10px;
}
.timer > p {
    font-size: 24px;
    margin-bottom: 5px;
}
.benef2 > li .text > span,
.time_circles > div > h4,
.time_circles > div > span,
.timer {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.time_circles > div > h4,
.time_circles > div > span {
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
}
.prod_count {
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
    color: #121314;
}
.prod_count > span {
    margin: 0 5px;
    display: inline-block;
    background: #199cde;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
}
.offer_section .prod_count {
    color: #fff;
}
.offer_section .prod_count > span {
    background: #fff;
    color: #121314;
}
.img_sect {
    padding: 0;
}
.sect2 > p {
    padding: 0 20px 20px;
}
.sect2 > p > img {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: -5px;
}
.list1 {
    padding: 0 20px 30px;
}
.list1 > li {
    padding: 0 0 0 35px;
    line-height: 25px;
    background: url(../images/list1.webp) 0 0 no-repeat;
    margin-bottom: 20px;
}
.sect2 .box {
    position: relative;
    margin-top: 10px;
}
.sect2 .box img.prod {
    position: absolute;
    left: 50%;
    top: 25px;
    margin-left: -80px;
}
.sect2 .button-m {
    margin-top: 55px;
}
.sect3 {
    background: #ff7d8f url(../images/patt.webp) 0 0;
}
.benef2 > li {
    position: relative;
    min-height: 200px;
}
.benef2 > li > img {
    position: absolute;
    left: 0;
    border-radius: 0 16px 16px 0;
}
.benef2 > li .text {
    background: #fff;
    padding: 18px 25px 15px 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 260px;
    border-radius: 16px 0 0 16px;
    font-size: 16px;
    box-shadow: 0 6px 14px -4px rgba(0, 0, 0, 0.3);
}
.benef2 > li .text > span {
    display: block;
    margin-bottom: 5px;
    padding-bottom: 10px;
    text-transform: uppercase;
    position: relative;
    font-size: 18px;
}
.benef2 > li .text > span:after {
    content: "";
    width: 50px;
    height: 3px;
    background: #da0909;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}
.benef2 > li:nth-child(2n) > img {
    left: auto;
    right: 0;
    border-radius: 16px 0 0 16px;
}
.benef2 > li:nth-child(2n) .text {
    right: auto;
    left: 0;
    text-align: right;
    border-radius: 0 16px 16px 0;
}
.benef2 > li:nth-child(2n) .text > span:after {
    left: auto;
    right: 0;
}
.sect3_action {
    background: url(../images/s3_bg_bot.webp) 50% 0 no-repeat;
    margin-top: -72px;
    min-height: 402px;
    padding: 95px 35px 40px;
}
.sect3_action > span {
    height: 130px;
    width: 130px;
    background: #fc0;
    border-radius: 50%;
    display: block;
    margin: 0 0 10px 35px;
    font-size: 80px;
    line-height: 130px;
    text-align: center;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.sect3_action > span > small {
    font-size: 50px;
}
.sect3_action > p {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3em;
    color: #fff;
    padding-right: 190px;
}
.sect3_action .button-m {
    margin-top: 70px;
}
.sect4 {
    padding-bottom: 0;
    background: #33dcc3;
    background: -moz-linear-gradient(top, #33dcc3 0, #1a9cde 100%);
    background: -webkit-linear-gradient(top, #33dcc3 0, #1a9cde 100%);
    background: linear-gradient(to bottom, #33dcc3 0, #1a9cde 100%);
}
.sect4 .title {
    font-size: 45px;
    padding: 0;
}
.benef3 {
    padding: 0 15px 40px;
}
.benef3 > li {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    display: table;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
    font-size: 16px;
    line-height: 1.4em;
}
.benef3 > li .img,
.benef3 > li .text {
    display: table-cell;
    vertical-align: middle;
}
.benef3 > li .img {
    width: 200px;
}
.benef3 > li .img > img {
    display: block;
    margin: 0 auto;
}
.benef3 > li .text {
    padding: 0 15px;
}
.benef3 > li .head {
    padding-left: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.benef3 > li .head > span {
    font-size: 55px;
    line-height: 50px;
    color: #8fc901;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.benef3 > li .head > p {
    line-height: 1.2em;
}
.sect4 .alert {
    padding: 1px 0 40px;
    background: #fff;
}
.sect4 .alert .bef_after {
    margin-top: 10px;
}
.benef3 > li .head,
.sect4 .alert .box {
    position: relative;
}
.sect4 .box .prod {
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -90px;
}
.sect4 .button-m {
    margin-top: 60px;
}
.sect5 {
    background: #33dcc3;
    background: -moz-linear-gradient(top, #33dcc3 0, #23b3d4 100%);
    background: -webkit-linear-gradient(top, #33dcc3 0, #23b3d4 100%);
    background: linear-gradient(to bottom, #33dcc3 0, #23b3d4 100%);
}
.list2 {
    background: #fff;
    width: 450px;
    margin: 0 auto;
    border-radius: 16px;
    padding: 16px 10px 16px 20px;
}
.list2 > li {
    margin-bottom: 15px;
    padding-left: 26px;
    background: url(../images/list2.webp) 0 4px no-repeat;
    font-size: 16px;
}
.sect5_action {
    background: url(../images/s5_bg_bot.webp) 50% 0 no-repeat;
    margin-top: -10px;
    min-height: 291px;
    padding: 40px 0 6px;
}
.sect5_action p {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    padding: 0 225px 0 15px;
}
.sect5_action p > span {
    display: inline-block;
    background: #8fc901;
    padding: 0 5px;
}
.sect5_action .button-m {
    margin-top: 160px;
}
.sect5_action > img {
    display: block;
    margin: 40px auto 0;
}
.sect6 {
    background: #33dcc3;
    background: -moz-linear-gradient(top, #33dcc3 0, #1a9bde 100%);
    background: -webkit-linear-gradient(top, #33dcc3 0, #1a9bde 100%);
    background: linear-gradient(to bottom, #33dcc3 0, #1a9bde 100%);
}
.sect6 .title {
    font-size: 28px;
}
.sect6 .benef2 > li .text > span:after {
    background: #8fc901;
}
.sect6 .alert {
    background: #1690cf;
    width: 450px;
    margin: 50px auto 0;
    border-radius: 16px;
    color: #fff;
    padding: 1px 55px 15px;
    text-align: center;
}
.sect6 .alert:before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background: url(../images/clock_icon.webp) 50% 50% no-repeat;
    border-radius: 50%;
    margin: -22px auto 5px;
}
.sect6 .button-m {
    margin-top: 35px;
}
.sect7 {
    padding-bottom: 0;
}
.subtitle {
    padding: 0 30px;
    font-size: 20px;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: -10px auto 30px;
}
.faq_item.active_block .quest,
.subtitle > span {
    color: #8fc901;
}
.reviews {
    background: #f5f6f7;
    padding: 30px 30px 40px;
}
.rev_item {
    background: #fff;
    border-radius: 16px;
    padding-bottom: 15px;
    overflow: hidden;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-bottom: 20px;
}
.rev_item:last-of-type {
    margin-bottom: 0;
}
.order_list > li > img,
.rev_item > img {
    display: block;
    margin: 0 auto;
}
.rev_item > span {
    display: block;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 30px;
    margin-bottom: 15px;
}

.rev_item > p {
    font-size: 16px;
    padding: 0 15px;
}
.rev_item > p.name {
    margin-top: 15px;
    color: #a8a9aa;
}
.sect7 .button-m {
    margin-top: 35px;
}
.sect8 .title > span {
    display: inline;
}
.faq_item {
    padding: 16px 15px;
    border-top: 2px solid #dadbdc;
}
.faq_item:last-child {
    border-bottom: 2px solid #dadbdc;
}
.faq_item .quest {
    font-weight: 700;
    padding-right: 50px;
    line-height: 1.2em;
    position: relative;
    transition: all 0.2s linear;
}
.faq_item .quest:before {
    content: "";
    height: 12px;
    width: 12px;
    display: block;
    border: 3px solid #121314;
    border-right-width: 0;
    border-top-width: 0;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -6px;
    top: calc(50% - 7px);
    transition: all 0.2s linear;
}
.faq_item.active_block .quest:before {
    top: calc(50% - 3px);
    border-color: #8fc901;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.faq_item .answer {
    display: none;
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.3em;
}
.sect9 {
    padding: 0;
}
.sect9 > img {
    display: block;
    margin: 0 auto 6px;
}
.sect9 .text {
    background: #ff7c8e url(../images/patt.webp) 50% 0;
    padding: 30px 0;
}
.sect9 h2.title {
    font-size: 32px;
}
.order_list > li,
.sect9 .text > p {
    font-size: 16px;
    text-align: center;
}
.sect9 .text > p {
    font-weight: 700;
    padding: 0 60px 20px;
    color: #fff;
    line-height: 1.3em;
}
.sect9 .button-m {
    margin-top: 10px;
}
.sect10 {
    padding-bottom: 15px;
}
.order_list {
    font-size: 0;
}
.order_list > li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    margin-bottom: 20px;
}
.order_list > li > span {
    display: block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 23px;
    font-weight: 700;
    background: #fdd740;
    background: -moz-linear-gradient(top, #fdd740 0, #ffb501 100%);
    background: -webkit-linear-gradient(top, #fdd740 0, #ffb501 100%);
    background: linear-gradient(to bottom, #fdd740 0, #ffb501 100%);
    margin: -18px auto 12px;
    position: relative;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
}
.offer_section.bottom .action_block {
    padding-top: 40px;
}
.offer_section .action_text {
    background: #fff;
    padding: 15px 50px;
    text-align: center;
}
.offer_section .action_text > span {
    display: block;
    color: #199bde;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 1.1em;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 2px;
}
.offer_section .action_text > span + p {
    padding: 0 20px;
    line-height: 1.2em;
}
.conf {
    width: 330px;
    margin: 0 auto 15px;
    padding-left: 50px;
    background: url(../images/conf_icon.webp) 0 50% no-repeat;
    text-align: left;
    line-height: 1.3em;
}

.lb {
    font-size: 13px;
    line-height: 13px;
    margin-top: 15px;
    width: 100%;
    display: block;
    text-align: center;
}

.lb input {
    -webkit-appearance: checkbox;
    display: inline-block;
    width: auto;
    height: auto;
}

.error {
    color: red;
    font-size: 1rem;
}

.error + * {
    margin-top: 10px !important;
}
