body {
    min-width: 480px;
    background: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4em;
    color: #121314;
    cursor: default;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.error {
    color: red;
    font-size: 1rem;
}

.error + * {
    margin-top: 10px !important;
}
